.header-appBar {
    background-color: white !important;
    height: 80px;
}

.header-toolbarTitle {
    margin-top: 15px !important;
}

.header-logo {
    width: 150px;
    height: 40px;
}

.header-tag {
    margin-top: 27px !important;
    margin-right: 20px;
    font-size: 16px !important;
}

.header-icon {
    margin-right: 8px;
    font-size: 16px !important;
    transform: translateY(10%);
}

.header-caret {
    transition: all 150ms ease-in;
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: 10px;
    vertical-align: middle;
    border-top: 8px solid;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    color: #05c0a5;
}

.header-buttonInfo {
    transform: translateY(-20%) !important;
}
